{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'js/bootstrap.min.js' %}"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="background-color:#92f5ff;direction: rtl; text-align: center">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/IRI-MUT.svg' %}" style="width: 8vw;">
        </div>
    </div>
    <div class="row mt-4 p-3" style="background-color: #004046;color: #fff;box-shadow: 0px 0px 5px black; ">
        <div class="col-md-4">
            استاد: آقای دکتر فخر دانش
        </div>
        <div class="col-md-4">
            دانشجو: مهندس مهدی رحمانی
        </div>
        <div class="col-md-4">
            درس: شبکه های عصبی
        </div>
    </div>
    <div class="row mb-4 mt-2"style="background-color: #007b86;box-shadow: 0px 0px 7px #000000; ">
        <div class="col-md-12">
            <a href="{% url 'main_practice:input' %}">
                <div style="width: 100%; color: #ffffff; ">
                    برای ورود دیتا کلیک کنید
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
<div class="row mt-4 p-3" style="background-color: #960101;box-shadow: inset 0px 0px 10px black; ">
        <div class="col-md-6">
            <a href="https://gitlab.com/Mahdi_Rahmani/perceptron_hebb" target="_blank">
                <div style="width: 100%; color: #ffffff; ">
                    https://gitlab.com/Mahdi_Rahmani/perceptron_hebb
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="mailto:mahdirahmani1375@gmail.com" target="_blank">
                <div style="width: 100%; color: #ffffff; ">
                    mahdirahmani1375@gmail.com
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>