{% extends 'base.html' %}

{% block content %}
        <form action="{% url 'main_practice:input' %}" method="post">
            {% csrf_token %}
            <div class="row p-3">
                <div class="col-md-4">
                    بردار میانگین دسته اول:
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1_mean_a" placeholder="x1">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2_mean_a" placeholder="x2">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    ماتریس کواریانس دسته اول:
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1_var_a" placeholder="x1 var">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1x2_cov_a" placeholder="x1x2 cov">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2x1_cov_a" placeholder="x2x1 cov">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2_var_a" placeholder="x2 var">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    بردار میانگین دسته دوم:
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1_mean_b" placeholder="x1">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2_mean_b" placeholder="x2">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    ماتریس کواریانس دسته دوم:
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1_var_b" placeholder="x1 var">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x1x2_cov_b" placeholder="x1x2 cov">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2x1_cov_b" placeholder="x2x1 cov">
                </div>
                <div class="col-md-4">
                    <input type="text" name="x2_var_b" placeholder="x2 var">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    تعداد داده های هر دسته:
                </div>
                <div class="col-md-4">
                    <input type="number" name="number_of_data_a" placeholder="تعداد داده های دسته اول">
                </div>
                <div class="col-md-4">
                    <input type="number" name="number_of_data_b" placeholder="تعداد داده های دسته دوم">
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    حداکثر تعداد گام:
                </div>
                <div class="col-md-4">
                    <input type="number" name="max_step" placeholder="حداکثر تعداد گام">
                </div>
                <div class="col-md-4">
                    <input class="btn btn-success w-50" type="submit" value="اجرا">
                </div>
            </div>
        </form>

{% endblock %}
