{% extends 'base.html' %}

{% block content %}
    <div class="row p-3">
        <div class="col-md-6">
            <h1>Perceptron</h1>
        </div>
        <div class="col-md-6">
            <h1>Hebb</h1>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-6">
            <canvas id="perceptron_chart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="hebb_chart"></canvas>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>step</th>
                    <th>w0</th>
                    <th>w1</th>
                    <th>w2</th>
                </tr>
                </thead>
                <tbody>
                {% for i in w %}
                    <tr>
                        <td>{{ i.perceptron.step }}</td>
                        <td>{{ i.perceptron.w0 }}</td>
                        <td>{{ i.perceptron.w1 }}</td>
                        <td>{{ i.perceptron.w2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>step</th>
                    <th>bias</th>
                    <th>w1</th>
                    <th>w2</th>
                </tr>
                </thead>
                <tbody>
                {% for i in w %}
                    <tr>
                        <td>{{ i.hebb.step }}</td>
                        <td>{{ i.hebb.bias }}</td>
                        <td>{{ i.hebb.w1 }}</td>
                        <td>{{ i.hebb.w2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('perceptron_chart');
        var dataset = []
        dataset.push({
            data:  {{ a_data|safe }},
            pointBackgroundColor: 'rgba(255,0,0,0.1)',
            pointBorderColor: 'rgba(255,0,0,0.3)',
            label: 'Class A',
            backgroundColor: 'rgba(255,0,0)',
        })
        dataset.push({
            data:  {{ b_data|safe }},
            pointBackgroundColor: 'rgba(0,0,255,0.1)',
            pointBorderColor: 'rgb(0,0,255,0.3)',
            label: 'Class B',
            backgroundColor: 'rgba(0,0,255)',
        })
        var i;
        w_length =
        {{ w|safe }}.length
        w_length_step = Math.floor(w_length / 4.2)
        var line_color = 255 / w_length;
        for (i = 0; i < w_length; i = i + w_length_step) {
            color_number = line_color * (i + 1)
            rgb_color = "rgb(" + color_number + "," + color_number + "," + color_number + ")"
            point_data = {{ w|safe }}[i].perceptron.point_data
            dataset.push({
                type: 'line',
                label: 'step_' + (i + 1),
                data: point_data,
                fill: false,
                backgroundColor: rgb_color,
                borderColor: rgb_color,
                pointRadius: 0
            })
        }
        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: dataset
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }
        });

        var ctx = document.getElementById('hebb_chart');
        var dataset = []
        dataset.push({
            data:  {{ a_data|safe }},
            pointBackgroundColor: 'rgba(255,0,0,0.1)',
            pointBorderColor: 'rgba(255,0,0,0.3)',
            label: 'Class A',
            backgroundColor: 'rgba(255,0,0)',
        })
        dataset.push({
            data:  {{ b_data|safe }},
            pointBackgroundColor: 'rgba(0,0,255,0.1)',
            pointBorderColor: 'rgb(0,0,255,0.3)',
            label: 'Class B',
            backgroundColor: 'rgba(0,0,255)',
        })
        for (i = 0; i < w_length; i = i + w_length_step) {
            color_number = line_color * (i + 1)
            rgb_color = "rgb(" + color_number + "," + color_number + "," + color_number + ")"
            point_data = {{ w|safe }}[i].hebb.point_data
            dataset.push({
                type: 'line',
                label: 'step_' + (i + 1),
                data: point_data,
                fill: false,
                backgroundColor: rgb_color,
                borderColor: rgb_color,
                pointRadius: 0
            })
        }
        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: dataset
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }
        });

    </script>
{% endblock %}
